@import 'src/assets/color';


.container {
  //height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $main-color;
}

.loginContainer {
  //background-color: #f0f0f0;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  border-color: #d50909;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 8px rgb(196, 194, 54);

}

.login-header {
  background-color: #ffffff;
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.loginInput {
  width: calc(100% - 20px); /* Adjust input width based on padding */
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttonsContainer{
  width: 380px;
  display: flex;

}

.loginButton {
  width: 180px;
  height: 40px;
  padding: 10px;
  background-color: #509e41;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.signUpButton {
  width: 180px;
  height: 40px;
  padding: 10px;
  background-color: #418d9e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 10px;

}

