.theoryCard {
  position: relative;

  :global {
    .ant-card-actions {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      background: transparent;

      li {
        margin: 0 !important;
        padding: 8px !important;
      }
    }
  }
}
